{% extends "music/base.html" %}
{% load static %}

{% block base_head %}
  {{ block.super }}
{% endblock %}

{% block content %}


  <main role="main" class="container">
    <div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-primary rounded box-shadow">
        All Songs
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% if songs %}

        {% for s in songs %}
          {% include "music/partials/song-list-item.html" with song=s %}
        {% endfor %}

      {% else %}
          <div class="alert alert-secondary p-5 my-3 text-center lead">
              No Songs
          </div>
      {% endif %}
    </div>
  </main>
{% endblock %}