{% extends "music/base.html" %}
{% load static %}

{% block base_head %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>Some things are wrong! :)</p>
  {% endif %}


  <main role="main" class="container">
    <div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-primary rounded box-shadow">
        New Song
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Add song</h6>

      <form method="post" action="{% url 'music:add_song' %}">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Add song to Museek</h1>

        {% include "partials/base_form.html" with form=form %}

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add" />
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <input type="hidden" name="add_to_library" value="{{ request.GET.add_to_library }}" />
      </form>
    </div>
  </main>




{% endblock %}
