{% extends "music/base.html" %}
{% load static %}

{% block base_head %}
  {{ block.super }}
  <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

      <main role="main" class="container">
        <div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-primary rounded box-shadow">


          <div>
            {{ u.username }}'s Library
          </div>

          {% if songs and user.username == u.username %}
          <div class="d-flex justify-content-between">
              <a class="btn btn-success open-modal-hash" href="#add-song-to-library">
                  Add a song
              </a>
          </div>
          {% endif %}
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Songs

            {% if songs %}
            <span class="badge badge-info">
              {{ songs | length }}
              </span>
            {% endif %}

          </h6>

          {% if songs %}

            {% for s in songs %}
              {% include "music/partials/library-item.html" with song=s %}
            {% endfor %}

          {% else %}
              <div class="alert alert-secondary p-5 my-3 text-center lead">
                  No songs in {% if user.username == u.username %} your {% else %} {{ u.username }}'s {%endif%}Library

                  {% if user.username == u.username %}

                  <p>
                      <a class="btn btn-success open-modal-hash" href="#add-song-to-library">Add a song</a>
                  </p>

                  {% endif %}
              </div>
          {% endif %}



          <small class="d-block text-right mt-3">
            <a href="#">All songs</a>
          </small>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Suggested Libraries</h6>
          <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17da8af81a7%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17da8af81a7%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.541290283203125%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 32px; height: 32px;">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Full Name</strong>
                <a href="#">Follow</a>
              </div>
              <span class="d-block">@username</span>
            </div>
          </div>

          <small class="d-block text-right mt-3">
            <a href="#">All suggestions</a>
          </small>
        </div>



      </main>

<div class="modal fade" id="add-song-to-library" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add song to your library</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="add" id="add_song_form">

            {% csrf_token %}

            {% include "music/partials/songs_list_form.html" with form=add_song_form %}
          </form>

          <div class="alert alert-secondary text-center">
            Can't find your song on Museek?
            <p>
                <a class="btn btn-info" href="{% url 'music:add_song' %}?next=/@{{ u.username }}/">Add it!</a>
            </p>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="add_song_form">Update Library</button>
        </div>
      </div>
    </div>
  </div>

    {% block scripts %}

    {{ block.super }}

    <script src="{% static 'js/holder.min.js' %}"></script>
    <script src="{% static 'js/library.js' %}"></script>
    {% endblock %}


<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
{% endblock %}