{% extends "music/base.html" %}
{% load static %}

{% block base_head %}
  {{ block.super }}
{% endblock %}

{% block content %}


  <main role="main" class="container">
    <div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-primary rounded box-shadow">

        <div>
            <span>
                {{ song.title }}
            </span>
        </div>

        <div class="d-flex justify-content-between">



        {% if user.is_authenticated and song.uploaded_by == user %}
          <a class="btn btn-success open-modal-hash" href="{{ request.get_full_path }}/edit">
            Update
          </a>

        {% endif %}

    </div>

    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h2 class=" pb-2 mb-0">{{ song.title }}  <span class="h5 text-muted">-</span>      <a href="{% url 'music:view_artist' song.artist.slug song.artist.id %}" class="h3 text-secondary">
            {{ song.artist.name }}
        </a></h2>
        {% if song.uploaded_by %}
        <span class="badge badge-dark">
          Uploaded by: <a href="/@{{ song.uploaded_by.username }}"> {{ song.uploaded_by }} </a>
        </span>
        {% endif %}

        <span class="badge badge-primary">Part of {{ song.lists.count }} libraries</span>


        <p>
            {{ song.comment }}
        </p>

        <hr />

        {% if song.link %}
            <div class="alert alert-success">
                You can listen to the song <a href="{{ song.link }}" target="_blank" title="Listen to {{ song.title }} online">here</a>
            </div>
        {% endif %}




    </div>
  </main>
{% endblock %}