{% extends "music/base.html" %}
{% load static %}

{% block base_head %}
  {{ block.super }}
{% endblock %}

{% block content %}


  <main role="main" class="container">
    <div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-primary rounded box-shadow">

        <div>
            <span>
                {{ song.title }}
            </span>

            {% if song.uploaded_by %}
            <span class="badge ml-3 badge-dark">
              Uploaded by: <a href="/@{{ song.uploaded_by.username }}"> {{ song.uploaded_by }} </a>
            </span>
            {% endif %}
        </div>

        <div class="d-flex justify-content-between">

            <span class="badge badge-light">Part of {{ song.lists.count }} libraries</span>

        {% if user.is_authenticated and song.uploaded_by == user %}
          <a class="btn btn-success open-modal-hash" href="{{ request.get_full_path }}/edit">
            Update
          </a>

        {% endif %}

    </div>

    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h2 class=" pb-2 mb-0">{{ song.title }}</h2>
        {% if song.uploaded_by %}
        <span class="badge badge-dark">
          Uploaded by: <a href="/@{{ song.uploaded_by.username }}"> {{ song.uploaded_by }} </a>
        </span>
        {% endif %}
        <h4 class="text-secondary">
            {{ song.artist.name }}
        </h4>

        <p>
            {{ song.comment }}
        </p>




    </div>
  </main>
{% endblock %}