{% extends "base.html" %} {% load static %}

{% block base_head %}
{{ block.super }}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<form method="post" action="{% url 'signup' %}" class="form-signin">
  {% csrf_token %}
  <img
    class="mb-4"
    src="{% static 'img/bootstrap-solid.svg' %}"
    alt=""
    width="72"
    height="72"
  />
  <h1 class="h3 mb-3 font-weight-normal">Join Museek</h1>

  {% include "partials/base_form.html" with form=form %}

  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Signup" />
  <input type="hidden" name="next" value="{{ next }}" />

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'login' %}">Already have an account?</a></p>

  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>

{% endblock %}
